<%
  # Get the image size
  image = image_size(slug)
%>


<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <%= stylesheet_link_tag "devices/base" %>
    <%= stylesheet_link_tag "devices/iphone" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>
<body>

<div class="device__iphone6--landscape">
    <div class="comp" <% if image.height > 1334 %>style="overflow-y: scroll;"<% end %>>
        <%= image_tag "comps/#{slug}.jpg" %>
    </div>
</div>

</body>
</html>